.loginPage {
    margin: 0 25%;
    h1 {
        text-align: center;
    }
    .rowField {
        input, button {
            padding: 0.5rem 0.7rem;
            margin: 0.5rem;
            width: 100%;
        }

        button {
            background-color: dodgerblue;
            color: white;
        }

        input::placeholder {
            color: dodgerblue;
        }
    }

    .userDetails {
        margin-top: 5%;
        text-transform: capitalize;
        table {
            margin-left:8px;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid;
        }
        tr, td {
            border: 1px solid;
            padding: 8px;
        }
    }
}
