.input {
    padding: 0.6rem;
    margin: 0.2rem;
    width: 100%;
    border: 1px solid var(--text-border-color);
}

.input:focus {
    outline: 1px solid var(--primary);
}

.input[type="radio"], .input[type="checkbox"] {
    display: inline-block;
    width: unset;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 8px;
}