nav {
    background-color: #333;
    width: 100%;
    min-height: 45px;

    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            background-color: #f2f2f2;
            color: #333;
        }
    }
}