div.main {
    height: 93.9vh;
    background: #0dc5c1;
    color: #fff;
    position: relative;
}

div.main > div {
    font-family: Tahoma, sans-serif;
    position: absolute;
    top: 45%;
    left: 46%;
}