*{
   font-family: monospace , Palatino, 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
    margin: 1rem;   
}

main h1 {
    text-align: center;
}

.text-danger {
    color: tomato;
}