div {
    margin: 4px;
    padding: 4px;
}

div.no-padding {
    padding: 0;
}

div.no-margin {
    margin: 0 !important;
}

.display-flex{
    display: flex;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}
